@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "hurmegeometricsans_no3_6";
  src: url(/public/assets/fonts/HurmeGeometricSans1-Light.otf) format("woff2");
}

.container_Sm {
  max-width: 700px;
}

.highlight_Ribbon::before {
  content: "";
  border-style: solid;
  width: 0;
  height: 0;
  line-height: 0;
  position: absolute;
  top: -4px;
  border-width: 4px 7px 0 0;
  left: 0;
  border-color: transparent #383838 transparent transparent;
}
